{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<div class="container-fluid my-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/1.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2>First slide label</h2>
                    <p><b>Nulla vitae elit libero, a pharetra augue mollis interdum.</b></p>
                 </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}