{% extends 'base.html' %}
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block title %}Home
  {% endblock title %}

 

</head>

{% block body %}
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Build A Better Resume With Us</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row ">

              <div class="col-12 col-md-6">
                <a href="/contact" class="btn btn-block btn-lg btn-primary " role="button" aria-pressed="true">Create A Resume!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3 class='text-light'>Easy to fill forms</h3>
            <p class="lead mb-0 text-info">The Forms are easy to fill, which contains all basic informations.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3 class='text-light'>Professional Resume template.</h3>
            <p class="lead mb-0 text-info">Featuring the latest and most popular Resume format</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3 class='text-light'>Easy to Use and download</h3>
            <p class="lead mb-0 text-info">Easily customize and download your Resume for free.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "/img/bg-showcase-1.jpg"%}');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Fully Responsive Design</h2>
          <p class="lead mb-0">This Web-Project is mobile friendly, and can be viewed at any mobile devices!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static "/img/bg-showcase-2.jpg"%}');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Download and Create Resumes easily!</h2>
          <p class="lead mb-0">After filling a simple form you can either view the Resume or can simply download the project by one click.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "/img/bg-showcase-3.jpg"%}');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Easy to Use &amp; Customize</h2>
          <p class="lead mb-0">Customize your Resume as you like and fill out forms with ease.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Meet our team behind this project...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static '/img/testimonials-1.jpg'%}" alt="">
            <h5>Malika Meyan.</h5>
            <p class="font-weight-light mb-0">"This is a fantastic project idea, was challenging at times!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static '/img/testimonials-2.jpg'%}" alt="">
            <h5>Seraj Ahmad</h5>
            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static '/img/testimonials-3.jpg'%}" alt="">
            <h5>Sarthak Bansal</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4"></h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>


{% endblock body %}
</html>